<tr class="<%= cycle('', 'alt') %> line-item">
  <td class="cart-item-image" data-hook="cart_item_image">
      <% if variant.images.length == 0 %>
        <%= small_image(variant.product) %>
      <% else %>
        <%=  image_tag variant.images.first.attachment.url(:small)   %>
      <% end %>
  </td>
  <td class="cart-item-description" data-hook="cart_item_description">
      <h4><%= link_to variant.product.name,  product_path(variant.product) %></h4>
      <% if variant %>
      <p><%= variant_options variant %></p>
      <% if variant.product.description %>
      <p><%= truncate(variant.product.description, :length => 100, :omission => "...") %></p>
      <% end %>
      <% end %>
  </td>
  <td class="cart-item-price" data-hook="cart_item_price">
    <%= line_item.single_money %>
  </td>
  <td class="cart-item-quantity" data-hook="cart_item_quantity">
      <%= item_form.text_field :quantity, :size => 3, :class => "line_item_quantity" %>
  </td>
  <td class="cart-item-total" data-hook="cart_item_total">
    <%= line_item.display_amount unless line_item.quantity.nil? %>
  </td>
  <td class="cart-item-delete" data-hook="cart_item_delete">
      <%= link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}" %>
  </td>
</tr>
